git+https://github.com/facebookresearch/pytorch3d.git
pymeshlab
opencv-python-headless==4.8.0.74
matplotlib<3.5
imageio
scikit-image
numba
open3d
trimesh
submodules/diff-gaussian-rasterization
submodules/simple-knn
plyfile
timm
h5py
lightning